<div class="container px-4 px-lg-5 h-100">
                <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                    <div class="col-lg-8 align-self-end">
                        <h1 class="text-white font-weight-bold"> {{content.field_banner_title}}</h1>
                        <hr class="divider" />
                    </div>
                    <div class="col-lg-8 align-self-baseline">
                         {{content.body}} 
                        <a class="btn btn-primary btn-xl" href="{{content.field_banner_button.0['#url']}}"> {{content.field_banner_button.0['#title']}} </a>
                    </div>
                </div>
            </div>